body {
    height: 100vh;
    min-width: 360px;
    
    display: flex;
    flex-direction: column;
}

.header {
    background: #3366AA;
    color: #FFFFFF;
    
    text-align: center;
    
    height: 80px;
    
    position: relative;
    z-index: 2000;
    
    padding: 30px;
}

.header h1 {
    font-family: var(--titles-font);
    
    font-size: 20px;
}

.nav {
    height: 60px;
    
    position: sticky;
    top: 0;
    z-index: 1800;
}

.nav-responsive {
    background-color: #4477CC;
    
    width: 100%;
    height: 100%;
    
    position: relative;
    z-index: 1600;
}

.nav-responsive__a-container {
    background-color: #4477CC;
    
    width: 100%;
    
    position: relative;
    bottom: 100vh;
    z-index: 1000;
    
    display: flex;
    
    transition: transform .25s ease-in-out;
}

.nav-responsive__a, .nav-normal__a {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFFFF;
}

.nav-responsive__a:hover, .nav-normal__a:hover {
    background-color: #6699FF;
}

.nav-responsive__a i, .nav-normal__a i {
    margin-right: 4px;
}

.nav-responsive__a {
    width: 100%;
    
    padding: 6px;
    
    position: relative;
    z-index: 802;
}

.nav-responsive__button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
    background-color: #4477CC;
    
    height: 100%;
    margin: 0;
    
    position: relative;
    z-index: 1400;
}

.nav-responsive__button {
    color: #FFFFFF;
    
    cursor: pointer;
    
    font-size: 32px;
    
    padding: 14px;
}

.nav-normal {
    display: none;
}

.main {
    position: relative;
    flex-grow: 1;
    background: var(--background-image);
    background-repeat: repeat;
    
    position: relative;
    z-index: 500;
    
    padding: 20px;
}

.main__blur {
    background: #00000080;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 501;
    
    width: 100%;
    height: 100%;
    
    visibility: hidden;
    opacity: 0;
    
    transition: opacity .5s;
}

.footer {
    background: #3366AA;
    min-height: 80px;
    
    padding: 12px;
    
    font-family: sans-serif;
    font-size: 10pt;
    
    text-align: center;
    
    color: #FFFFFF;
}

@media screen and (min-width: 600px) {
    .nav-responsive {
        display: none;
    }
    
    .nav-normal {
        background: #4477CC;
        display: flex;
        
        min-height: 60px;
        
        height: 100%;
    }
    
    .nav-normal__a {
        height: 100%;
        
        padding: 8px;
        
        display: flex;
        align-items: center;
    }
}